<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
        <form method="POST" action="/auth/login">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email" {{#if old}} value="{{old.email}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.email.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                {{#if errors}} <span class="text-danger">{{errors.password.msg}}</span> {{/if}}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-2">Doesn't have an account? Please <a class="no-underline fw-bolder text-secondary" href="/auth/register">Register</a> </div>
        <div class="mt-2">Forgot password? Please <a class="no-underline fw-bolder text-secondary" href="/auth/reset-password">Reset</a> </div>
    </div>
</div>